/* Set box-sizing to border-box using ::before and ::after */
*::before,
*::after {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --heading-color: #132238;
    --paragraph-color: #556070;
  }
  

img {
    width: 100%;
}


a {
    text-decoration: none;
}

.nav__list--text {
    color: var(--heading-color)
}


.hero__text--heading {
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 0.3em;
    color: var(--heading-color);

}


.hero__text--heading ~ p {
    font-size: 1.2rem;
    margin-bottom: 1.8em;
    font-weight: 400;
    text-align: left;
    color: var(--paragraph-color);

}


.about__text--primary > h2{
    color: var(--heading-color);
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 600;
}

.about__text--primary > p{
    color: var(--paragraph-color);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}


.work-process__primary > h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--heading-color)
}


.work-process__primary > p {
    color: var(--paragraph-color);
}


.portfolio__primary--card-secondary p:nth-child(3) {
    color: var(--paragraph-color);
    margin: 0.8em 0;
}


.portfolio__primary--card-secondary p:nth-child(1) {
    color: var(--paragraph-color);
    font-size: 0.8rem;
    margin-bottom: 0;
}

.portfolio__primary--card-secondary h4:nth-child(2) {
    color: var(--heading-color);
    margin: 0.2em 0;
}


.portfolio__text > h3 {
    color: var(--heading-color);
    font-size: 3rem;
    text-align: center;
    margin: 0.5em 0;
}


.portfolio__text > p {
    color: var(--paragraph-color);
    text-align: center;
}


.portfolio__footer--heading{
    font-size: 3rem;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}


.portfolio__footer--paragraph{
    font-size: 1.3rem;
    color: rgb(205, 200, 200);
    
}


.expert__col > h3{
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.2em;
}


.expert__col > p{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--gray-400, #87909D);   
}

.expert__col--secondary > h4{
    font-size: 1.5rem;
    font-family:  600;
    color: var(--heading-color);
    margin: 0.2em 0;
}


.expert__col--secondary > p {
    color: var(--paragraph-color);
}


.footer__col--left > h3 {
    color: var(--heading-color);
    font-size: 2.375rem;
    font-weight: 600;
    margin-bottom: 0.2em;
} 


.footer__col--left > p {
    font-size: 1.125rem;
    color: var(--paragraph-color);
}


.footer__col--card--right > p {
    font-size: 0.8rem;
    margin-top: 0.3em;
    margin-bottom: 0;
}

.footer__col--card--right > h4 {
    font-size: 0.875rem;
    margin-bottom: 0.3em;
    font-weight: 400;
    margin-top: 0;
}



.main {
    margin: 0 0;
    background-image: repeating-linear-gradient(24deg, rgba(255,234,198,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 80%, rgba(219, 163, 254, 0.521) 100%);
    width: 100%;
}

.header {
    margin-bottom: 0;
    padding: 0.8em 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fefefe;
    
}

.nav__logo {
    align-self: center;
}
.logo {
    width: 70%;
}

.nav {
    /* flex-grow: 1; */
    /* border: 1px solid #000; */
    padding: auto auto;
    width: 60%;
    margin-left: auto;
}

.mobile_toggle {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;

}

#nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    /* border:  1px solid #77d4c0; */
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    gap: 1.5em;
    margin-left: auto;
    color: var(--heading-color);
}


.btn__normal {
    background: #A53DFF;
    padding: 0.8em 1.4em;
    border-radius: 0.2em;
    border: 0px;
    color: aliceblue;
}


.btn__normal:hover {
    opacity:   0.7;
    cursor: pointer;
}


.hero__text {
    width: 50%;

}

.hero__image {
    width: 30%;
}

.hero__text--primary {
    margin-bottom: 8.3em;
    margin-top: 6em;
}


.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    /* border: 2px solid #6f7bec; */
}

.row {
    display: flex;
    justify-content: space-between;
}

.hero {
    /* background-image: linear-gradient(130deg, white, #C4F5E9, #DA4DF1);
    padding: 3em 0em */
}

.about {
    padding: 3em 0em;
    /* border: 2px solid #6f7bec; */
    border-radius: 16px;
    background: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5em;

    /* margin: 0 auto; */
    
}

.about__text {
    width: 50%;
    margin:auto auto;
    
}


.about__img{
    width: 30%;
    margin:auto auto;    
}

.about__text--secondary-btn-left{
    margin-left: 1em;
    background-color: transparent;
    border: 1px solid #A53DFF;
    color: #A53DFF;
}


.about__text--secondary-btn-left:hover {
    opacity:   0.7;
    cursor: pointer;

}

.avator__crop {
    z-index: 1;
    /* border: 2px solid salmon;
    background-color: azure; */
    position: relative;
}


.icons {
    margin-top: -2em;
    position: relative;
    z-index: 100;
    background: #fcfcfe;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.icons a:hover {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.work-process {
    background: #F0F1F3;
    padding: 3em 0;
    position: relative;
    z-index: -1;
}


.work-process__primary {
    margin: auto 0;
    width: 30%;
}



.work-process__secondary {
    width: 50%;
    display: flex;
    margin: auto 0;
    justify-content: space-between;
}

.work-process__secondary-col {
    margin: 5em auto;
}


.work-process__secondary-col + .work-process__secondary-col {
    margin-top: 6em;
}

.work-process__secondary-col--primary {
    border-radius: 8px;
    background: #fcfcfe;
    padding: 2em 2em;
    margin: 0.7em;
}


.work-process__icons {
    width: 30%;
}


.portfolio__primary {
    margin: 0;

}


.portfolio__primary--card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3em 0;
    text-align: center;
    font-family: arial;
    width: 30%;
}


.portfolio__primary--card button{
    padding: 1em 2em;
    border-radius: 4px;
    margin-bottom: 1em;
    margin-left: 0;

}

.portfolio__primary--card button:hover{
    padding: 1em 2em;
    border-radius: 4px;
    margin-bottom: 1em;
    margin-left: 0;

}


.portfolio__primary--card-secondary {
    margin-left: auto;
    text-align: left;
    padding-left: 1em;
}


.portfolio__text {
    margin-left: auto;
}


.portfolio__footer {
    background: var(--heading-color);
    padding: 5em;
    color: #fcfcfe;
}

.portfolio--sm-container {
    max-width: 700px;
    margin: auto;
}


.portfolio {
    margin-bottom: 0;
}


.blog {
    background-image: repeating-linear-gradient(151deg, rgb(232, 198, 255) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 88%, rgba(163, 254, 171, 0.521) 100%);
    margin-top: 0;
    padding: 2em 0;

}


.expert {
    background: #F0F1F3;
    padding: 3em 0;
}

.expert__col {
    width: 40%;
    align-self: center;
}

.expert__col--secondary {
    background: #FFFFFF;
    padding: 0.5em 1em;
    margin: 1em;
    border-radius: 4px;
}

.expert__col--secondary:hover {
    border-left: 5px solid #A53DFF;
}



.footer {
    padding: 4em 0;
    border-bottom: 0;
    position: relative;
    z-index: 1;
}


.footer__col--left {
    width: 45%;
    margin-left: auto;
}


.footer__col--left > .row {
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    margin-bottom: 2.5em;
}


.footer__col--card:hover {
    background: #fcfcfe;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5em;
}
.footer__col--card {
    width: 45%;
    /* border: 2px solid #c5f1e5; */
    margin-top: 1em;

}

.footer__col--card--left {
    width: 20%;
    margin-left: auto;
    background: #edd8ff73;
    padding: 0.2em 0;
    border-radius: 5px;

}

.footer__col--card--left > img {
    width: 80%;
    margin-left: auto;
}



.footer__col--card--right {
    width: 75%;
    padding: 0.2em 0;
    margin-top: 0;
}


.footer__container--small {
    background: #fcfcfe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2em 0;
    border-radius: 8px;
}


.footer__col--right {
    width: 45%;
    margin-right: auto;
    align-self: center;
}


.form > .btn__normal {
    margin-top: 1.3em;
}

input, textarea {
    display: block;
    /* border: 2px solid coral; */
    border: none;
    border-bottom: 2px solid #cac6ce;
    padding: 1em 0;
    width: 100%;
    outline: none; /* Remove default focus outline */

}

input:focus, textarea:focus {
    border: none;
    border-bottom: 2px solid #A53DFF;
    
}

.footer__container {
    background: #2B384C;
    padding: 4em 0;
    margin-top: -7em;
    position: relative;
    color: #fcfcfe;
    margin-bottom: 0;
}

.footer__container > .container {
    position: relative;
    z-index: 9999;
}


@media only screen and (max-width: 650px) {
    html {
        padding: 0;
    }
    :root {
        --m__text--heading: 2rem;
        --m__text--paragraph: 0.9rem;
    }

    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .hero__text{
        width: 100%;
    }
    .hero__text--heading {
        font-size: var(--m__text--heading);
    }
    .hero__text--primary {
        margin-bottom: 3em;
    }
    
    
    .row {
        display: block;
    }

    .hidden {
        display: none;
    }
    

    /* .hero__text--primary {
        margin-top: 0;
    } */
    
    .main {
        padding-top: 1em;
    }
    
    .header {
        padding-top: 0.8em;
        
    }

    #nav__list {
        flex-direction: column;
        justify-content: flex-start;
        padding: 3em;
        padding-top: 0;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        background: hsla(0, 0%, 100%, 0.1);
        z-index: 999;
        backdrop-filter: blur(1em) ;
        transition: 0.3s ease-in-out;

    }
    .nav_list--first {
        margin-top: 6em;
    }


    #nav__list.active {
        right: 0px;
    }


    .mobile_toggle {
        display: block;
        position: absolute;
        top: 1em;
        right: 2em;
        border: none;
        background: transparent;
        z-index: 1000;
        margin-bottom: 1em;

    }

    .logo {
        width: 30%;
    }
    

    .about__img {
        width: 90%;
    }

    .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1em;
        width: 100%;
        margin: 0 auto;
        padding: 0.5em 0;
    }
    .avator__crop {
        margin: 0 auto;
        width: 100%;
    }

    .about {
        padding: 3em 0em;
        /* border: 2px solid #6f7bec; */
        border-radius: 16px;
        background: #fefefe;
        box-shadow: 0 4px 8px 0 rgba(168, 128, 175, 0.458), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        margin-top: 5em;

        /* margin: 0 auto; */
    }

    .about__text {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }


    .about__text h2 {
        font-size: var(--m__text--heading);
    }
    .about__text p {
        font-size: var(--m__text--paragraph);
    }

    .work-process__primary {
        width: auto;
    }

    .work-process__secondary {
        width: auto;
        display: block;
    }
    .work-process__secondary-col {
        width: 90%;
        margin: 2em auto;
        margin-bottom: 0;
    }

    .work-process__secondary-col + .work-process__secondary-col {
        margin-top: 0em;
    }


    .portfolio {
        width: auto;
    }


    .portfolio__primary {
        width: auto;
    }

    .portfolio__footer {
        padding: 2em 0;
    }

    .portfolio--sm-container {
        width: 100%;
        padding-left: 1em 0;
        margin: 1em 0;
    }
    .portfolio__primary--card {
        width: 90%;
    }


    .portfolio__footer--heading {
        font-size: 1.4rem;
    }


    .portfolio__footer--paragraph {
        font-size: 0.9rem;
    }


    .expert__col {
        width: 90%;
        margin: 0 auto;
    }
    .expert__col--secondary {
        margin: 1em 0;
    }
}
